.MainVisual{
	width:100%;
	height:810px;
}

.MainVisual-Filter{
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: rgba(0,0,0,.6);
	color: #fff;
}
.MainVisual-HeadLine{
	display: flex;
	flex-direction: column;


	text-align: center;
	position: relative;
	top: 65px;
}
.MainVisual-HeadLine__Top,.MainVisual-HeadLine__Bottom{
	font-size: 36px;
	font-weight: bold;
}
.MainVisual-HeadLine__Middle{
	font-size: 90px;

	vertical-align: middle;

	padding: 20px 0;

	font-family: "Sign Pointer";
}


.AboutSection{
	width: 100%;
	height: 459px;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #000;
}
.AboutSection-Text{
	text-align: center;
	color: #fff;
	font-size: 18px;
	line-height: 2em;
}



.DescriptionSection{
	width: 100%;
	height: auto;


	background-color: #000;

	padding: 130px 0;
}
.DescriptionSection-Text{
	font-size: 18px;

	text-align: center;
	color: #fff;

	display: flex;
	justify-content: center;
	align-items: center;

	line-height: 2em;
}
.DescriptionSection-CardGroup{

	display: flex;
	flex-direction: column;
	align-items: center;

	width: 90%;
	margin: 0 auto;

	color: #fff;
	font-weight: lighter;

}
.DescriptionSection-CardGroup__Top,.DescriptionSection-CardGroup__Middle,.DescriptionSection-CardGroup__Bottom{
	width: 100%;
	display: flex;
	justify-content: space-between;

	align-items: center;
	line-height: 44px;
}

.DescriptionSection-CardGroup__Top,.DescriptionSection-CardGroup__Middle{
	padding-bottom: 130px;
}
.DescriptionSection-CardGroup__Top{
	padding-top: 130px;
}
.DescriptionSection-CardGroup__Top__Left{
	width: 50%;
}
.DescriptionSection-CardGroup__Top__Right{
	width: 50%;

	font-size: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.DescriptionSection-CardGroup__Middle__Left{
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 14px;
}
.DescriptionSection-CardGroup__Middle__Right{
	width: 50%;
}
.DescriptionSection-CardGroup__Bottom__Left{
	width: 50%;
}
.DescriptionSection-CardGroup__Bottom__Right{
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 14px;
}
.DescriptionSection-CardGroup-Img{
	width: 100%;
}






.ConceptSection{

}
.ConceptSection-Filter{
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: rgba(0,0,0,0.6);
}
.ConceptSection-Text{
	font-size: 48px;
	letter-spacing: 20px;

	color: #fff;
	font-weight: lighter;
}



@media screen and (max-width: 768px) { 

	.MainVisual{
		height: 660px;
	}
	.MainVisual-HeadLine__Top,.MainVisual-HeadLine__Bottom{
		font-size: 22px;
		line-height: 44px;
	}
	.MainVisual-HeadLine__Middle{
		font-size: 48px;
	}
	.MainVisual-HeadLine{
		top: 40px;
	}
	.AboutSection{
	}
	
	.AboutSection-Text{
		width: 90%;

		font-size: 14px;
		line-height: 2em;
	}


	.ConceptSection-Text{
		font-size: 36px;
	}
	
	.DescriptionSection{
		padding: 80px 0;
	}
	.DescriptionSection-Text{
		font-size: 15px;
	}
	.DescriptionSection-CardGroup{
		font-size: 15px;
	}
	.DescriptionSection-CardGroup__Top,.DescriptionSection-CardGroup__Middle,.DescriptionSection-CardGroup__Bottom{
		flex-direction: column;
		padding-top: 80px;
		padding-bottom: 0;
	}

	.DescriptionSection-CardGroup__Top__Left{
		width: 100%;
	}
	.DescriptionSection-CardGroup__Top__Right{
		width: 100%;

		justify-content: flex-start;
	}
	.DescriptionSection-CardGroup__Middle__Left{
		width: 100%;
		order: 2;
		justify-content: flex-start;
	}
	.DescriptionSection-CardGroup__Middle__Right{
		width:100%;
		order: 1;
	}
	.DescriptionSection-CardGroup__Bottom__Left{
		width:100%;
	}
	.DescriptionSection-CardGroup__Bottom__Right{
		width:100%;
		justify-content: flex-start;
	}
	.DescriptionSection-CardGroup-Img{
		width: 100%;
	}
}